sukuk.datamufti.com {
	# Basic auth — username: talal
	basicauth {
		talal $2b$12$Cd.L0hApVATpAi7iRBWZL.DcsW5e3rrnml/sL8r4UslVPHRNh7muK
	}

	reverse_proxy sukuk-screener:8000

	header {
		X-Content-Type-Options    nosniff
		X-Frame-Options           DENY
		Referrer-Policy           strict-origin-when-cross-origin
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		-Server
	}

	encode gzip
}
